/* source-serif-pro-regular - latin */

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/source-serif-pro-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url('fonts/source-serif-pro-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-serif-pro-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-serif-pro-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-serif-pro-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-serif-pro-v5-latin-regular.svg#SourceSerifPro') format('svg');
    /* Legacy iOS */
}

/* source-serif-pro-600 - latin */

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/source-serif-pro-v5-latin-600.eot');
    /* IE9 Compat Modes */
    src: local('Source Serif Pro Semibold'), local('SourceSerifPro-Semibold'), url('fonts/source-serif-pro-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-serif-pro-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-serif-pro-v5-latin-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-serif-pro-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-serif-pro-v5-latin-600.svg#SourceSerifPro') format('svg');
    /* Legacy iOS */
}

/* source-serif-pro-700 - latin */

@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/source-serif-pro-v5-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'), url('fonts/source-serif-pro-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-serif-pro-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-serif-pro-v5-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-serif-pro-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-serif-pro-v5-latin-700.svg#SourceSerifPro') format('svg');
    /* Legacy iOS */
}