/* ubuntu-mono-regular - latin */

@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../webfonts/ubuntu-mono-v7-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('../webfonts/ubuntu-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../webfonts/ubuntu-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../webfonts/ubuntu-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../webfonts/ubuntu-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../webfonts/ubuntu-mono-v7-latin-regular.svg#UbuntuMono') format('svg');
    /* Legacy iOS */
}