<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$.Book.Title$$</title>
    <link rel="stylesheet" href="$$.RootPath$$/static/css/archive.css" />
</head>
<body>
    <div id="shiori-archive-header">
        <p id="shiori-logo"><span>栞</span>shiori</p>
        <div class="spacer"></div>
        <a href="$$.URL$$" target="_blank">View Original</a>
        $$if .HasContent$$
        <a href="/bookmark/$$.ID$$/content">View Readable</a>
        $$end$$
    </div>
    <iframe src="" frameborder="0"></iframe>
</body>
</html>
