<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$$.Book.Title$$</title>
    <link rel="stylesheet" href="$$.RootPath$$assets/css/archive.css" />
</head>

<body class="archive">
    <div id="shiori-archive-header" class="header">
        <p id="shiori-logo"><span>栞</span>shiori</p>
        <div class="spacer"></div>
        <a href="$$.Book.URL$$" target="_blank">View Original</a>
        $$if .Book.HasContent$$
        <a href="/bookmark/$$.Book.ID$$/content">View Readable</a>
        $$end$$
    </div>
    <iframe src="/bookmark/$$.Book.ID$$/archive/file/" frameborder="0"></iframe>
</body>

</html>
