@import "variable";
* {
    border-width: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#app {
    background-color: @appBg;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    min-height: 100vh;
    #header {
        background-color: @headerBg;
        box-shadow: 0 0 3px @headerShadow;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;
        display: flex;
        flex-flow: row nowrap;
        #logo {
            border-left: 1px solid @border;
            cursor: default;
            flex-shrink: 0;
            .header-link;
            line-height: @headerHeight;
            display: flex;
            flex-flow: row nowrap;
            font-size: 1.5em;
            font-weight: 100;
            color: @main;
            span {
                margin-right: 8px;
            }
            &:hover {
                background-color: @appBg;
            }
        }
        #search-box {
            align-items: center;
            border-right: 1px solid @border;
            display: flex;
            flex: 1 0;
            flex-flow: row nowrap;
            padding: 16px;
            width: 100%;
            button,
            input {
                background-color: @headerInputBg;
                border: 1px solid @border;
                color: @fontColor;
                font-size: 0.9em;
                padding: 8px;
            }
            button {
                cursor: pointer;
                color: @linkColor;
                &:hover {
                    color: @accent;
                }
            }
            input {
                border-right: 0;
                flex: 1 0;
                padding: 8px 16px;
            }
        }
    }
    #main {
        margin-top: @headerHeight;
        display: flex;
        flex-flow: column nowrap;
        #new-bookmark {
            align-self: center;
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            margin: 32px 8px 20px;
            button,
            input {
                background-color: @headerInputBg;
                border: 1px solid @border;
                color: @fontColor;
                font-size: 0.9em;
                padding: 8px;
            }
            button {
                cursor: pointer;
                color: @linkColor;
                &:hover {
                    color: @accent;
                }
            }
            input[type=text] {
                border-right: 0;
                flex: 1 0;
                padding: 8px 16px;
            }
        }
        #grid {
            display: flex;
            flex-flow: row;
            padding: 4px;
            >.column {
                flex: 1 0;
                padding: 12px;
                >*:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
        }
        #progress-bar {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 32px;
            i {
                color: @fontLightColor;
                font-size: 3em;
            }
            a {
                color: @main !important;
                font-size: 0.9em;
                &:hover {
                    color: @accent !important;
                }
            }
        }
    }
}

.bookmark {
    background-color: @headerBg;
    border: 1px solid @border;
    position: relative;
    .checkbox {
        z-index: 9;
        right: 0;
        opacity: 0;
        position: absolute;
        outline: 1px solid @border;
        color: @fontLightColor;
        background-color: @headerBg;
        &::before {
            width: 32px;
            line-height: 32px;
            text-align: center;
            display: block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 0.9em;
            content: "\f00c";
        }
        &:hover {
            color: @accent !important;
        }
    }
    .bookmark-image {
        position: relative;
        display: block;
        height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .bookmark-metadata {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 16px;
            justify-content: flex-end;
            background-color: rgba(0, 0, 0, 0.5);
            border-bottom: 0;
            .bookmark-time,
            .bookmark-url {
                color: white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }
            .bookmark-title {
                color: white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }
            &:hover {
                .bookmark-title {
                    text-decoration: underline;
                }
            }
        }
    }
    .bookmark-metadata {
        padding: 16px;
        display: flex;
        flex-flow: column nowrap;
        .bookmark-time {
            color: @fontLightColor;
            font-size: 0.9em;
            margin-bottom: 8px;
        }
        .bookmark-title {
            color: @fontColor;
            font-size: 1.3em;
            font-weight: 600;
        }
        .bookmark-url {
            .bookmark-time;
            margin-bottom: 0;
            margin-top: 8px;
        }
        &:hover {
            .bookmark-title {
                text-decoration: underline;
            }
        }
    }
    .bookmark-excerpt {
        padding: 16px;
        color: @fontColor;
        border-top: 1px solid @border;
    }
    .bookmark-tags {
        display: flex;
        flex-flow: row wrap;
        padding: 0 12px 12px;
        margin-top: -4px;
        a {
            font-size: 0.9em;
            padding: 4px;
            color: @main !important;
            &::before {
                content: "#"
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &:hover {
        .checkbox {
            opacity: 1;
        }
    }
    &.checked {
        border: 0;
        outline: 6px solid @borderDark;
        .checkbox {
            opacity: 1;
            outline: 0;
            background-color: @borderDark;
            color: white;
        }
    }
}