// out: false
@appBg: #F5F5F5;
@border: #E5E5E5;
@borderDark: #9E9E9E;
@contentBg: #FFF;
@headerInputBg: #FFF;
@fontColor: #000;
@linkColor: #535A60;
@fontLightColor: #6F757A;
@fontSize: 0.9em;
@headerHeight: 70px;
@main: #F44336;
@accent: #F44336;
@headerShadow: rgba(0, 0, 0, 0.3);
// Mixin
.header-link {
    border-right: 1px solid @border;
    color: @fontColor;
    cursor: pointer;
    font-size: @fontSize;
    line-height: @headerHeight;
    overflow: hidden;
    padding: 0 16px;
    &:hover {
        color: @main;
    }
}

.full-overlay {
    position: fixed;
    z-index: 101;
    display: flex;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    justify-content: center;
    padding: 32px;
}