name: "Tag release"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to bump to, example: v1.5.2"
        required: true
      ref:
        description: "Ref to release from"
        required: true
        type: string
        default: master

jobs:
  tag-release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
      - name: Tag release
        run: |
          git config user.email "${{github.repository_owner}}@users.noreply.github.com"
          git config user.name "${{github.repository_owner}}"
          git tag -a ${{ github.event.inputs.version }} -m "tag release ${{ github.event.inputs.version }}"
          git push --follow-tags
  call-gorelease:
    needs: tag-release
    uses: ./.github/workflows/_gorelease.yml
  call-buildx:
    needs: call-gorelease
    uses: ./.github/workflows/_buildx.yml
