<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/source-sans-pro.css">
    <link rel="stylesheet" href="/css/yla-dialog.css">
    <link rel="stylesheet" href="/css/yla-tooltip.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/js/vue.js"></script>
    <script src="/js/axios.js"></script>
    <script src="/js/js-cookie.js"></script>
    <script src="/js/component/yla-tooltip.js"></script>
    <script src="/js/component/yla-dialog.js"></script>
    <script src="/js/page/base.js"></script>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/res/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/res/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/res/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/res/favicon-16x16.png" sizes="16x16" />
    <title>Shiori - Bookmarks Manager</title>
</head>

<body>
    <div id="index-page">
        <div id="sidebar">
            <p id="logo">栞</p>
            <yla-tooltip placement="right" content="Reload data">
                <a>
                    <i class="fas fa-sync-alt fa-fw"></i>
                </a>
            </yla-tooltip>
            <yla-tooltip placement="right" content="Add new bookmark">
                <a @click="showDialogAdd">
                    <i class="fas fa-plus fa-fw"></i>
                </a>
            </yla-tooltip>
            <yla-tooltip placement="right" content="Batch edit">
                <a>
                    <i class="fas fa-pencil-alt fa-fw"></i>
                </a>
            </yla-tooltip>
            <div class="spacer"></div>
            <yla-tooltip placement="right" content="Toggle night mode">
                <a>
                    <i class="fas fa-moon fa-fw"></i>
                </a>
            </yla-tooltip>
            <yla-tooltip placement="right" content="Log out">
                <a>
                    <i class="fas fa-sign-out-alt fa-fw"></i>
                </a>
            </yla-tooltip>
        </div>
        <div id="body">
            <div id="header">
                <input type="text" placeholder="Search bookmarks by url, tags, title or content">
                <a>
                    <i class="fas fa-search fa-fw"></i>
                </a>
            </div>
            <div id="grid">
                <div class="bookmark" v-for="book in bookmarks">
                    <a class="bookmark-content" :href="'/bookmark/'+book.id" target="_blank">
                        <img v-if="book.imageURL !== ''" :src="book.imageURL">
                        <p class="title">{{book.title}}</p>
                        <p class="excerpt" v-if="book.imageURL === ''">{{book.excerpt}}</p>
                    </a>
                    <div class="bookmark-menu">
                        <a class="url" title="View original" :href="book.url" target="_blank">
                            {{getHostname(book.url)}}
                        </a>
                        <a title="Edit bookmark">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <a title="Edit tags">
                            <i class="fas fa-tags"></i>
                        </a>
                        <a title="Delete bookmark">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        <a title="Update cache">
                            <i class="fas fa-cloud-download-alt"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <yla-dialog v-bind="dialog"></yla-dialog>
    </div>
    <script>
        // Prepare axios instance
        var token = Cookies.get('token'),
            rest = axios.create();

        rest.defaults.timeout = 60000;
        rest.defaults.headers.common['Authorization'] = 'Bearer ' + token;

        // Register Vue component
        Vue.component('yla-dialog', new YlaDialog());
        Vue.component('yla-tooltip', new YlaTooltip());

        new Vue({
            el: '#index-page',
            mixins: [new Base()],
            data: {
                loading: false,
                bookmarks: [],
            },
            methods: {
                loadData() {
                    if (this.loading) return;

                    // Fetch data
                    this.loading = true;
                    rest.get('/api/bookmarks')
                        .then((response) => {
                            this.loading = false;
                            this.bookmarks = response.data;
                            console.log(JSON.stringify(response.data));
                        })
                        .catch((error) => {
                            var errorMsg = (error.response ? error.response.data : error.message).trim();
                            this.loading = false;
                            this.showErrorDialog(errorMsg);
                        });
                },
                showDialogAdd() {
                    this.showDialog({
                        title: 'New Bookmark',
                        content: 'Save an URL to bookmark',
                        fields: [{
                            name: 'url',
                            label: 'http://...',
                        }],
                        mainText: 'OK',
                        secondText: 'Cancel',
                        mainClick: (data) => {
                            this.dialog.loading = true;
                            rest.post('/api/bookmarks', {
                                    url: data.url,
                                })
                                .then((response) => {
                                    this.dialog.loading = false;
                                    this.dialog.visible = false;
                                    this.bookmarks.unshift(response.data);
                                })
                                .catch((error) => {
                                    var errorMsg = (error.response ? error.response.data : error.message).trim();
                                    this.showErrorDialog(errorMsg);
                                });
                        }
                    });
                },
                getHostname(url) {
                    parser = document.createElement('a');
                    parser.href = url;
                    return parser.hostname;
                }
            },
            mounted() {
                this.loadData();
            }
        });
    </script>
</body>

</html>